body {
    background-color: #ccecff;
}
.hidden {
    display:none;
}
h1 {
    font-family:Corbel;
    font-style:italic;
    color:#17365d;
}
div {
    font-family:Calibri;
    font-weight:600;
    line-height:200%;
    font-size:larger;
    color:#353f76; 
}
div.ad {
    font-family:Corbel;
    font-weight:900;
    line-height:150%;
    color:#353f76;
    margin:0px 0px 0px 50px;
    font-style:italic;
}
a {
    font-family:Calibri;
    color:#7494d9;
    font-weight:500;


}
a.second {
    margin:0px 0px 0px 100px;
}
a.inside {
    font-family:Corbel;
    font-style:italic;
    font-weight:900;
}
li {
    font-family:Corbel;
    color:#40475c;
    font-style:italic;
    font-weight:900;
}
ul li {
    list-style-type:none;
    font-style:normal;
}
