body{

}
    table, th{
    border:1px solid grey;
    border-spacing:0;
    border-collapse: collapse
}

th{
    color: white;
    background-color: #04ba0a;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    text-align: left;
    vertical-align: middle;
    width: 200px;
    font-family:"Corbel";
    font-size:22px;
}
td{
    border-right:1px solid grey;
    height: 35px;
    vertical-align: middle;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    font-family:"Corbel";
    font-size:22px;
}
tr:nth-child(2n){
    background-color:#dde8cc;
}
tr:nth-child(2n+1){
    background-color:white;
}
.Image{
    vertical-align: middle;
    padding-right: 7px;
}
.hidden {
    display:none;
}